<!DOCTYPE html>
<html lang="es">

<head>
  <title>Doggy Friends | Comunidad para los amantes de los perros</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Esta es una red social para los amantes de los perros">
    <meta name="keywords" content="Red social, perros, cuidados, educación">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/favicon.png">
</head>

<body class="bg-pattern">
  <nav class="navbar navbar-expand-lg navbar-light bg-black fixed-top">
  <a class="navbar-brand" href="#"><img src="../images/DoggyLogo2.png" style="height: 50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-md-0">
      <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
      <button class="btn btn-warning my-2 my-sm-0"><i class="fas fa-search"></i></button>
    </form>
  </div>
</nav>
<section id="user-profile">
  <div class="container mt-6">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width:100%">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/a8_ujXr3VWHstGkxgJL1TkqfrytP4r_52QhcvqRQVaQPRQ9DHdQ6seI99qc4jLjC0WDM=h900" alt="Card image"  style="width:100%">
          <div class="card-body text-center">
            <strong id="current-user-name"></strong>
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa fa-folder-open-o"></i><p id="current-user-email"></p>
              </li>
            </ul>
            <p class="card-text" id="presentacion">I am a professional student designer i love my work so hire me !!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
  <script src="../js/firebase.js"></script>
  <script src="../js/timeLine.js"></script>
</body>

</html>