.background-image{
    background-image: url('../images/collageDogs.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
}

.bg-pattern{
	background-image: url("../images/huella.jpg");
	background-repeat: repeat;
}

.bg-black{
    background-color: #2f2619;
}

.navbar{
    padding: 0.05rem 1rem;
}

.navbar-toggler{
    background-color: #f6e5d1;
    border: 1px solid #bbaaa0;
}

.navbar-toggler-icon{
    border-color: rgb(255,102,203);
}

.mt-6{
    margin-top: 6rem!important;
}



