body{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}
.background-image{ 
  background-image: url('../images/collageDogs.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  position: absolute;
}

.bg-pattern{
	background-image: url("../images/huella.jpg");
	background-repeat: repeat;
}

.bg-black{
  background-color: #2f2619;
}

.navbar{
  padding: 0.05rem 1rem;
}

.navbar-toggler{
  background-color: #f6e5d1;
  border: 1px solid #bbaaa0;
}

.navbar-toggler-icon{
  border-color: rgb(255,102,203);
}

.mt-6{
  margin-top: 6rem!important;
}

.form-textarea{
  border: none;
  width: 100%!important;
  max-height: 100px;
  min-height: 60px;
}

.form-control:focus{
  box-shadow: none;
}

.no-btn{
  border: none;
  background-color: inherit;
}

.no-btn:hover{
  color: #ffc107;
  text-decoration: none;
}

.small-font{
  font-size: 14px;
}

.profile-image{
  width: 70%;
}

.profile-small-image{
  width: 30%;
}

.img-fluid {
  max-width: 70%;
}

.white-text{
  color: #ffffff;
}

.card-comment{
  background-color: #fdedb1;
  padding: 10px;
  border-radius: 20px!important;
  margin: 10px 8px;
}
.textarea-comment{
  background-color: #f7f7f7;
  height: 60px;
}
.card-footer{
  border: none;
}

.little-font{
  font-size: 12px;
}

.middle-aling{
  margin: auto 0;
}

.btn-comment{
  padding: 0.2rem .6rem;
  font-size: 0.6rem;
}
